<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WHAM | MyAccount</title>
    <script src="./script.js"></script>
    <script src="MyService.js"></script>
</head>
<body>
<div>
    <pre>Firstname: {{firstName}}</pre>

    <pre>Lastname: {{lastName}}</pre>

    <pre>Email: {{email}}</pre>
    <!--
        <pre>Categories: {{categories}}</pre>

        <pre>WithinRadius: {{withinRadius}}</pre>
    -->
    <div class="container-fluid">
        <div class="form" role="form">
            <form>
                <div><label ng-repeat="category in categories">
                    <input type="checkbox" name="{{category.name}}" id="{{category.id}}" ng-model="category.checked">
                    <label for="{{category.id}}">{{category.name | ampersand}}</label>
                </label></div>
                <br/>
                <label>Within Radius?</label>
                <input type="text" ng-model="withinRadius"/> &nbsp; &nbsp;

                <button type="button" class="btn btn-primary" ng-click="update()">Update</button>
                <br/>
                Old password: <input type="password" ng-model="oldpassword">
                <br/>
                New password: <input type="password" ng-model="newpassword">
                <br/>
                Confirm password: <input type="password" ng-model="confirmpassword">
                <br/>
                <button type="button" class="btn btn-primary" ng-click="updatePassword()">Update password</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>