<head>
    <title>Sign up with WHAM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<div class="container-fluid">
    <h2>Register</h2>

    <form class="form" role="form">
        <label>First name</label><br/>
        <input type="text" ng-model="newUser.firstname" required><br/>
        <label>Last name</label><br/>
        <input type="text" ng-model="newUser.lastname" required><br/>
        <label>Email</label><br/>
        <input type="email" ng-model="newUser.email" required><br/>
       <!-- <div role="alert">
            <span class="error" ng-show="form.input.$error.required"> Required! </span>
            <span class="error" ng-show="form.input.$error.email"> Please enter a valid email address! </span>
        </div>-->
        <label>Password</label><br/>
        <input type="password" ng-model="newUser.password" required><br/>
        <label>Confirm</label><br/>
        <input type="password" ng-model="newUser.confirmpassword" required><br/>

        <label ng-repeat="category in categories">
            <input type="checkbox" name="{{category.name}}" id="{{category.name}}" ng-model="category.checked"
                   ng-change="selectedCategories()">
            <label for="{{category.name}}">{{category.name | ampersand}}</label>
        </label>
        <br/>
        <label>Within Radius?</label>
        <input type="text" ng-model="newUser.withinRadius"/><br/>

        <button type="button" class="btn btn-primary" ng-click="register()">Submit</button>
    </form>
</div>